p {
  color: white;
  padding: 0;
  width: 100%;
}
h2 {
  color: white;
}

.mainText {
  position: relative;
}

.welcomeText {
  position: relative;
  font-size: 3em;
  color: rgb(193, 117, 117, 0.7);
  letter-spacing: 2px;
  font-family: "Lato", sans-serif;
  margin-bottom: 40px;
  animation: slide 1.5s ease-out;
  animation-delay: 2.3s;
  overflow: hidden;
  animation-fill-mode: both;
}

@keyframes slide {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
