.App {
  text-align: center;
  background-color: black;
}

body {
  background-color: black;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  animation: remove 0s ease-in 3.8s forwards;
}
@keyframes remove {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
